# Common
CLUSTER_NODES=http://lock1:8080,http://lock2:8081,http://lock3:8082
ROLE=lock           # lock|queue|cache
NODE_ID=lock1
HTTP_PORT=8080
REDIS_URL=redis://redis:6379/0
# Raft
RAFT_ELECTION_LO=150
RAFT_ELECTION_HI=300
RAFT_HEARTBEAT_MS=75
# Queue
QUEUE_REPLICA_FACTOR=2
VISIBILITY_DEFAULT_MS=30000
# Cache
CACHE_DIR_LEADER=http://cache1:8280
CACHE_DEFAULT_TTL_MS=60000